<h1>Register</h1>
<% columns = get_columns(@user, {
  remove: ["password_digest", "session_token"],
  add: ["password"]
}) %>
<%= render 'layouts/form', locals: {
  columns: columns,
  action: users_url,
  _method: 'POST',
  _name: 'user',
  submit_value: "Create New User" } %>
